/*
 * 		JavaScript Danmaku Game
 * 		Styles.css
 * 
 * 		css styles by: R. van Ardenne, original game code by Sako 2010
 * 
 * 		All code is freely editable and redistributable
 * 
 * 		All the game concept, images and music came from Doujin sites and this game
 * 		is a tribute to ZUN! the genius behind the Touhou Danmaku series
 */
/* ------------
 * 		reset HTML
 * 				------------- */
* {
        margin: 0;
        padding: 0;
        border: 0;
}
body {
        background-image: url('../img/bg/floral_bg.jpg');
}
/* ------------
 * 		HTML Elements
 * 				------------- */
h1 {
        font-family: 'Skranji', Verdana, sans-serif;
        font-size: 16pt;
        font-weight: bold;
        color: #3399CC;
}

h2 {
        font-family: 'Skranji', Verdana, sans-serif;
        font-size: 14pt;
        font-weight: bold;
        color: #fff;
        margin: 2px;
}

span {
        color: "blue";
}

input.button {
        width: 120px;
        height: 30px;
        font-family: 'Bilbo Swash Caps', Verdana, sans-serif;
        font-size: 16pt;
        font-weight: bold;
        border: 2px solid #808080;
        border-radius: 6px;
        background-color:rgba(64,128,192,0.75);
        background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(16,96,192,0.75)), to(rgba(96,192,255,0.9)));
        background-image:-moz-linear-gradient(top,bottom,from(rgba(16,96,192,0.75)), to(rgba(96,192,255,0.9)));
        -webkit-box-shadow: rgba(128,192,255,0.75) 0px 8px 24px inset;
        -khtml-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px inset;	
        -moz-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px inset;        
        box-shadow:rgba(128,192,255,0.75) 0px 8px 24px inset; 
        text-shadow: 2px 2px 2px #fff;
        margin: 0 0 0 10px;
}

input.button:hover {        
        width: 120px;
        height : 30px;
        font-family: 'Bilbo Swash Caps', Verdana, sans-serif;
        font-size: 16pt;
        font-weight: bold;
        border: 2px solid #808080;
        border-radius: 6px;
        background-color:rgba(0,97,216,0.75);        
        background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(0,97,216,0.75)), to(rgba(0,53,117,0.9)));        
        background-image:-moz-linear-gradient(top,bottom,from(rgba(0,97,216,0.75)), to(rgba(0,53,117,0.9)));
        -webkit-box-shadow: rgba(128,192,255,0.75) 0px 8px 24px inset;
        -khtml-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px inset;        
        -moz-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px inset;        
        box-shadow:rgba(128,192,255,0.75) 0px 8px 24px inset;
        text-shadow: 2px 2px 2px #fff;
        margin: 0 0 0 12px;        
}

canvas {
        border: 2px solid #808080;
        border-radius: 6px;
}
/* ------------
 * 		DIV Styles
 * 				------------- */
#game_wrapper {
        margin: 15px;
        padding: 15px;
        background-color: #000;
        border: 2px solid #808080;
        border-radius: 12px;
        width: 850px;
        height: 750px;
}

#header {
        font-family: 'Skranji', Verdana, sans-serif;
        font-size: 12pt;
        width: 600px;
}

#canvas_wrapper {
        float: left;
        width: 550px;
}

#canv {
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
}

#game_hud {
        font-family: 'Bilbo Swash Caps', Verdana, sans-serif;
        font-weight: bold;
        font-size: 14pt;
        color: #fff;
        float: left;
        width: 250px;
        height: 600px;
        border: 2px solid #CCCCCC;
        text-align: left;
}

#game_hud span {
        color: #0cf;
        font-family: 'Skranji', Verdana, sans-serif;
        font-size: 12pt;
}

#footer {
        font-family: 'Skranji', Verdana, sans-serif;
        font-size: 12pt;
        color: #fff;
        width: 600px;
        margin-top: 20px;
        margin-bottom: 0;
}