/*
 * 		JavaScript Danmaku Game
 * 		Styles.css
 * 
 * 		css styles by: R. van Ardenne, original game code by Sako 2010
 * 
 * 		All code is freely editable and redistributable
 * 
 * 		All the game concept, images and music came from Doujin sites and this game
 * 		is a tribute to ZUN! the genius behind the Touhou Danmaku series
 */
/* ------------
 * 		Custom Fonts		------------- */
@font-face {
        src: url(../Sprawl.ttf);
        font-family: Sprawl;
}
@font-face {
        src: url(../JandaSafeandSound.ttf);
        font-family: JandaSafeandSound;
}
@font-face {
        src: url(../JandaSafeandSoundSolid.ttf);
        font-family: JandaSafeandSoundSolid;
}
/* ------------
 * 		reset HTML
 * 				------------- */
* {
        margin: 0;
        padding: 0;
        border: 0;
}
body {
        background-image: url('../img/bg/floral2.jpg');
}
/* ------------
 * 		HTML Elements
 * 				------------- */
h1, h2 {
        font-family: 'Sprawl', Verdana, sans-serif;
        font-size: 0.8em;
        font-weight: bold;
        color: #0ff;
}

h2 {
        font-size: 0.2em;
        color: #fff;
        margin: 2px;
}

input.button, input.button:hover {
        width: 100px;
        height: 30px;
        font-family: 'JandaSafeandSound', Verdana, sans-serif;
        font-size: 0.9em;
        font-weight: bold;
        border: 2px solid #808080;
        border-radius: 6px;
        background-color:rgba(64,128,192,0.75);
        background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(16,96,192,0.75)), to(rgba(96,192,255,0.9)));
        background-image:-moz-linear-gradient(top,bottom,from(rgba(16,96,192,0.75)), to(rgba(96,192,255,0.9)));
        -webkit-box-shadow: rgba(128,192,255,0.75) 0px 8px 24px inset;
        -khtml-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px inset;	
        -moz-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px inset;        
        box-shadow:rgba(128,192,255,0.75) 0px 8px 24px inset; 
        text-shadow: 2px 2px 2px #fff;
        margin: 0 0 0 10px;
		float: left;
		cursor: pointer;
}

input.button:hover {        
        background-color:rgba(0,97,216,0.75);        
        background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(0,97,216,0.75)), to(rgba(0,53,117,0.9)));        
        background-image:-moz-linear-gradient(top,bottom,from(rgba(0,97,216,0.75)), to(rgba(0,53,117,0.9)));
}

canvas {
        position: absolute;
        border: 2px solid #ccc;
        border-radius: 6px;
        float: left;
        display: block;
}

#bg_canv {
        z-index: 100;
}
#fx1canv {
        z-index: 200;
}
#canv {
        z-index: 300;
}

/* ------------
 * 		DIV Styles
 * 				------------- */
#game_wrapper {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -425px;
        padding: 15px;
        background-color: #000;
        border: 2px solid #ccc;
        border-radius: 12px;
        width: 960px;
        height: 700px;
}
/* TODO got some images that lie on top of the game screen, not looking like much yet
 * but will create a Touhou like background effect later when I can start the layout
 * with css and html(wich I'm better at than coding) forgive me for the crappy
 * layout you're seeing now
 */
 /*
.reimu {
        position: absolute;
        top: 400px;
        left: 20%;
        margin-left: -30px;
        float: right;
        z-index: 400;
}*/

.marisa {
        position: absolute;
        top: 400px;
        right: 30%;
        margin-right: 100px;
        float: left;
        z-index: 400;
}
*/
#header {
        /* not applicable yet */
}75

#canvas_wrapper {
        float: left;
        width: 550px;
}

#game_hud {
        position: absolute;
        left: 50%;
        margin-top: 1px;
        margin-left: 190px;
        padding: 10px;
        font-family: 'Sprawl', Verdana, sans-serif;
        font-weight: bold;
        font-size: 0.7em;
        color: #fff;
        float: left;
        display: block;
        width: 250px;
        height: 680px;
        border: 2px solid #ccc;
        text-align: left;
        z-index: 700;
}

span {
        margin-top: 30px;
        color: #0cf;
        font-family: 'Sprawl', Verdana, sans-serif;
        font-size: 0.8em;
}

span#script {
        color: #fff;
        font-family: 'JandaSafeandSoundSolid', Verdana, sans-serif;
        font-size: 1.4em;
        font-size: bolder;
        text-align: center;
        text-shadow: 2px 2px 2px #000;
}

#footer {
        position: absolute;
        top: 545px;
        left: 50%;
        margin-left: -600px;
        padding: 40px;
        width: 750px;
        height: 220px;
        background-image: url(../img/bg/touhou_bg.png);
        background-repeat: no-repeat;
        font-family: 'JandaSafeandSound', Verdana, sans-serif;
        font-size: 0.7em;
        font-weight: bolder;
        text-align: center;
        text-shadow: 2px 2px 2px #000;
        color: #fff;
        z-index: 500;
}

div#play_score {
        position: absolute;
        top: 660px;
        left: 50%;
        margin-left: -130px;
        width: 255px;
        height: 30px;
        padding: 3px;
        color: #fff;
        font-family: 'JandaSafeandSound', Verdana, sans-serif;
        background-image: url(../img/bg/score_bg.jpg);
        font-size: 1.0em;
        font-weight: bold;
        z-index: 600;
}

.GameModeControls input[type="checkbox"]  {
        float: left; 
        margin-top: 8px; 
        margin-right: 4px;
        margin-bottom: 0px;
}
.GameModeControls input[type="range"]  {
        -webkit-appearance: none !important;
        margin-left: 6px;
        margin-top: 6px;
        height: 5px;
        background: #555555;
        border: 2px solid #808080;
        border-radius: 4px;
        color: red;
}
.GameModeControls input[type="range"]::-webkit-slider-thumb  {
        -webkit-appearance: none;
        background-color: #fff;
        border: 2px solid #8c8c8c;
        border-radius: 4px;
        width: 10px;
        height: 15px;
}
#SfxVolume { margin-left: 22px; }
.GameModeControls label {
        float: left;
}
.GameModeControls br {
        clear: both;
}